{% extends "base.html" %}
{% load general %}
{% load static %}
{% block content %}
<div class="sidebar">
    {% include "login-form.html" %}
</div>
<div class="main-column">
    <div class="tab-container">
        <div class="tab-element">
            {% if request.user.is_authenticated %}
                <div class="tab-title">📜 {{name|slice:":-3"}}</div>
                <div class="tab-text">
                    {{md|markdown}}
                </div>
            {% else %}
                <div class="tab-title">⛔ Access forbidden</div>
                <div class="tab-text">
                    This area is only available to authenticated users.
                </div>
            {% endif %}        
        </div>
    </div>
</div>
<div class="sidebar">
    {% if request.user.is_authenticated %}
        <div class="tab-container">
            <div class="tab-sidebar-element">
                <div class="tab-title">📚 Index</div>
                <div class="tab-text"><ul>
                        {% for file in files %}
                            <li><a href="{% url 'codex' file=file %}">{{file|slice:":-3"}}</a></li>
                        {% endfor %}
                    </ul>                
                </div>
            </div>
        </div>
    {% else %}
        &nbsp;
    {% endif %}
</div>
{% endblock %}