{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="sidebar">&nbsp;</div>
<div class="main-column">
    <div class="tab-container">
        <div class="tab-element">
            <div class="tab-title">📫 Contact</div>
            <div class="tab-text">
                <p>If you wish you contact the admin, please fill the form below:</p>
                <form method="post">
                    {% csrf_token %} <!-- Cross Site Request Forgery protection -->
                    {{ form.as_p }}
                    <div class="form-actions">
                        <center><button type="submit">📧 Send</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">&nbsp;</div>
{% endblock %}