{% extends "base.html" %}
{% block content %}
<div class="sidebar">
    {% include "login-form.html" %}
</div>
<div class="main-column">
    <div class="tab-container">
        <div class="tab-element">
            <div class="tab-title">About</div>
            <div class="tab-text">You have entered <b>the Nexus</b>, a remote, forgotten place where Django tests are performed and personal offerings are available to the wandering traveller. Please mind the void.</div>
        </div>
    </div>
</div>
<div class="sidebar">&nbsp;</div>
{% endblock %}