{% extends "base.html" %}
{% block content %}
<div class="sidebar">
&nbsp;
</div>
<div class="main-column">
    <div class="tab-container">
        <div class="tab-element">
            <div class="tab-title">🎮 Penumbra</div>
            <div class="tab-text"><p><b>Penumbra</b> is a server for <a href="https://en.wikipedia.org/wiki/Doom_(1993_video_game)" target="_blank">classic Doom</a> that runs 24/7 for all your fragging needs!</p><p>We mostly play survival cooperative games using <a href="https://www.moddb.com/mods/brutal-doom" target="_blank">Brutal Doom</a> and great custom maps such as <a href="https://www.doomworld.com/idgames/levels/doom2/Ports/megawads/eviternity" target="_blank">Eviternity</a> and <a href="https://www.moddb.com/mods/back-to-saturn-x" target="_blank">Back to Saturn X</a>.</p><p>You can easily join the server using <a href="https://doomseeker.drdteam.org/" target="_blank">DoomSeeker</a>. Search for the server called <i>Penumbra</i>. You can also join our <a href="https://discord.gg/UzDhNgS">Discord</a>.</div>
        </div>
    </div>
    <center><a href="{{ MEDIA_URL }}/doom.png"><img src="{{ MEDIA_URL }}/doom.png" width=100% height=100%/></a></center>
</div>
<div class="sidebar">&nbsp;</div><br/><br/>
{% endblock %}